* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Anton', sans-serif;
  color: white;
  text-shadow: 2px 2px 10px black;
  text-align: center;
}
/*     FULL GAME     */
body #game {
  border: 1px solid green;
  position: relative;
}
/*     ACTION POKEBALL     */
body #action {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 20px;
  border: 1px solid red;
}

body #action div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

body #action div span {
  font-size: 25px;
  transform: translateY(-40px);
  opacity: 0;
}

body #action div img {
  filter: brightness(150%);
  position: relative;
  width: 100px;
  margin: 40px;
}

/*     RESULTAT     */
body #resultat {
  border: 1px solid orange;
  margin-top: 30px;
  display: flex;
  justify-content: space-around;
  font-size: 30px;
}

body #resultat #moi {
  border: 1px solid yellow;
  display: flex;
}

body #resultat #moi #myPoke {
  height: 200px;
  width: 200px;
}

body #resultat #moi img {
  height: 200px;
  margin-top: 50px;
}

body #resultat #ia {
  border: 1px solid yellow;
  display: flex;
}

body #resultat #ia #IAPoke {
  height: 200px;
  width: 200px;
}

body #resultat #ia img {
  height: 200px;
  margin-top: 50px;
}
/*     Score     */
body #resultat #parent {
  border: 1px solid purple;
  font-size: 40px;
  margin: 5px;
  padding: 20px;
  display: flex;
  justify-content: center;
}

body #resultat #parent p {
  font-size: 50px;
  margin: -10px 20px;
}

#score h3 {
  font-size: 40px;
}

#modale {
  display: block;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: white;
}

#modale .container-modale button {
  font-family: 'Anton', sans-serif;
  margin-top: 50px;
  width: 200px;
  height: 70px;
  border-radius: 15%;
  background-color: #eca92d;
}
